supabase
fastapi
uvicorn
python-dotenv
pillow
google-generativeai
pydantic
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
pymongo                                                                                                                               
reportlab
pymupdf